
.header-inner li.start {
    display: inline;
    padding: 2%;
    list-style-type: none;
    
}

.header-inner li.end {
    display: inline;
    padding: 2%;
    
}

.header-inner ul.start {
    display: inline;
    justify-content: start;
    align-items: center;
}

.header-inner ul.end {
    margin-left: 30%;
    display:inline;
    justify-content: flex-end;
    align-items: end;
}

.header-inner {
    padding: 1%;
    margin: auto;
}

